.content{
    height: 100hv;
    padding: 9%;
}

.invalid-input {
    border-color: #ff0000;
  }
  
  .valid-input {
    border-color: #00ff00;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }