.login-form{
 display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: 1024px) {
    padding-left: 8px;
  }

  .form-header{
    @media (min-width: 640px) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 24rem; 
      }

      .name{
        margin-top: 2.5rem; 
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.25rem;
        letter-spacing: -0.0125em;
        color: #333; 
      }
  }

  .form-body{
    margin-top: 2.25rem;

    @media (min-width: 640px){
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 20rem;
    }

    .label{
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem; 
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(17 24 39);
    }

    .field {
        display: block;
        width: 100%;
        border-radius: 0.375rem; 
        border: none;
        padding-top: 0.375rem; 
        color: #1a202c;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
        inset: 0;
        border-color: #e2e8f0; 

        &::placeholder {
          color: #a0aec0;
        }

        &:focus {
          box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        }
        @media (min-width: 640px) {
          font-size: 0.875rem;
          line-height: 1.5; 
        }
     }
    }

    .button{
        display: flex;
        width: 100%;
        justify-content: center;
        border-radius: 0.375rem;
        background-color: #4F46E5;
        padding: 0.375rem 0.75rem; 
        font-size: 0.875rem;
        font-weight: 600; 
        line-height: 1.5;
        color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        transition: background-color 0.3s ease;

     &:hover {
        background-color: #4338CA; 
    }

     &:focus-visible {
        outline: 2px solid transparent;
        outline-offset: 2px;
        outline-color: #4338CA;
    }
  }
}