footer{
  height: 10%;
.footer-items{
  margin-inline-end: 1rem/* 16px */;

  @media md{
    margin-inline-end: 1.5rem/* 24px */;
  }

  @media lg{
    margin-inline-end: 1.5rem/* 24px */;
  }
  color: black;
}

.footer-items:hover{
  text-decoration-line: underline;
}
}