  <footer class="footer mt-auto bg-white inset-x-0 bottom-0 rounded-lg shadow dark:bg-gray-900">
    <div class="mx-auto p-4 md:py-4">
      <div class="sm:flex sm:items-center sm:justify-between">
        <a class="flex items-center p-2 sm:p-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
          <img src="https://media.licdn.com/dms/image/D4E0BAQHa-rcVkJe6lg/company-logo_200_200/0/1667566636828?e=1712188800&v=beta&t=uWs2GBhCoA4dQXG50HbCQfwcH-TlJL5UZE1Yv18XskM" class="h-6" alt="" /> 
          <span class="self-center text-l font-semibold whitespace-nowrap dark:text-white">Real Estate</span>
        </a>
        <ul class="flex flex-wrap items-center mb-2 text-xs font-medium text-gray-500 sm:mb-0 dark:text-gray-400"> 
          <li>
            <a href="https://eaukcija.sud.rs/#/" class="footer-items">Auctions</a>
          </li>
        </ul>
      </div>
      <hr class="my-2 sm:mx-auto dark:border-gray-700 lg:my-2">
      <span class="block text-xs text-black-500 sm:text-center dark:text-gray-400">© 2023 <a class="hover:underline">Real Estate™</a></span>
    </div>
  </footer>