<header class="header bg-gradient-to-r from-blue-500 to-purple-600 text-white p-3 dark:bg-gradient-to-r dark:from-gray-800 dark:to-black">
  <div class="mx-auto md:py-2">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a class="flex items-center p-2 sm:p-3 sm:mb-0 space-x-2 rtl:space-x-reverse">
        <img src="https://media.licdn.com/dms/image/D4E0BAQHa-rcVkJe6lg/company-logo_200_200/0/1667566636828?e=1712188800&v=beta&t=uWs2GBhCoA4dQXG50HbCQfwcH-TlJL5UZE1Yv18XskM" class="h-6 rounded-full" alt="" /> 
        <span class="self-center text-lg font-bold whitespace-nowrap dark:text-white">Real Estate</span>
      </a>
      <ul class="flex flex-wrap items-center mb-2 text-sm font-medium text-gray-300 sm:mb-0 dark:text-gray-400"> 
        <li>
          <a href="https://eaukcija.sud.rs/#/" class="header-items text-sm hover:text-gray-100 m-3">Auctions</a>
        </li>
      </ul>
    </div>
  </div>
</header>